/*fuente*/

body {
   /* font-family: georgian, helvetic, sans-serif;
    font-size: 12px;
    font-weight: 900;
font-style: oblique;
    font-variant: small-caps;
    line-height: 19px;
    */
    /* METODO ABREVIADO */
    
    font: italic small-caps bold 25px/200% arial, helvetic, sans-serif
     
}

/*texto */

p {
    text-align:  justify; /*left, center, right, justify */
    text-indent:  30; /*sangria */
    text-transform: capitalize;
    text-decoration: underline;
    
}

a{
    text-decoration: none;
}
img{
    
    vertical-align: baseline; /* baseline, top, middle, bottom, sub, sup */
}
h2 {
    letter-spacing: 50;
    word-spacing: 20;
}