body {
    font-family: open sans;
}

#principal {
    width: 800px;
    padding: 20px;
    border: 2px dashed #32a4a8;
    margin: 20px auto;
    color: #888888;
    
}
div {
    padding: 40px 0;
    text-align: center;
    width: 25%;
  /* float: left;*/ 
    display: inline-block;
}
#div1 {
    background: #f7d54d;
}
#div2 {
    background: #1ad34d;
}
#div3 {
    background: #1fffff;
}
#div4 {
    background: #c71a57;
}
p {
    clear: both;
}